/.*
/.gitignore
/.htaccess
/administrator/cache/*
/cache/*
/installation/*
/logs/*
/configuration.php
/tools/com_science/build.properties
/tools/com_science/build/*
/tools/com_science/zips/*
/tools/com_irbtools/build.properties
/tools/com_irbtools/build/*
/tools/com_irbtools/zips/*
/tools/com_irbgoogle/build.properties
/tools/com_irbgoogle/build/*
/tools/com_irbgoogle/zips/*
